// define colors
:root 
  --grey: #212121
  --white: #fafafa
  --black: #000000
  --green: #00bfa5


// overall effects
body, html 
  background-color: var(--grey)
  color: var(--white)
  font-family: 'Source Code Pro', monospace
  text-align: center
  @media (max-width: 900px) {
    font-size: 13px
  }


a 
  color: var(--white)


a:hover 
  color: var(--green)

li
  list-style-type: none;

ul
  padding: 0;

  @media (max-width: 900px) {
    margin-left: 10vw;
    margin-right: 10vw;
  }


// header nav
.nav-logo 
  font-size: 40px
  @media (max-width: 900px) {
    font-size: 30px
  }

.nav-item 
  margin: 10px

// splash styles

.intro
  margin: 5rem;

// cards
.card 
  width: 18rem
  margin: 5px
  box-shadow: 0 4px 8px 0 var(--black)
  transition: 0.3s


.card:hover 
  box-shadow: 0 8px 16px 0 var(--green)


.card-deck 
  display: grid
  grid-template-columns: repeat(3, auto)
  grid-template-rows: auto
  justify-content: center;

  @media (max-width: 700px) {
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto
    justify-content: center
    justify-items: center
  }


.card-img-top 
  object-fit: cover
  height: 50%
  width: 100%


.card-text, .card-title, .card-body 
  color: var(--white)
  background-color: var(--grey)
  text-align: center
  margin: 1rem


// about page cards
.about 
  display: flex
  justify-content: center;


.card-img-top-about 
  object-fit: cover
  height: 80%
  width: 100%

// about page bio
.bio
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;

  @media (max-width: 900px) {
    margin-left: 10vw;
    margin-right: 10vw;
  }


// icons effects
.fab, .fas 
  margin: 10px


.fab:hover 
  color: var(--green)


.fas:hover 
  color: var(--green)


.code-languages 
  list-style-type: none


// blog styles
.post-link
  margin: 5rem;

.blog-post-container
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5vw;

  @media (max-width: 900px) {
    margin-left: 10vw;
    margin-right: 10vw;
  }

// contact styles
.contact-container
  margin-left: 20vw;
  margin-right: 20vw;

  @media (max-width: 900px) {
    margin-left: 10vw;
    margin-right: 10vw;
  }
