body,
html {
  background-color: #212121 !important;
  color: #fafafa !important;
  font-family: 'Source Code Pro', monospace !important;
}

a {
  color: #fafafa !important;
}

.card {
  width: 18rem;
  margin: 5px;
}

.nav-item {
  margin: 10px;
}

a:hover {
  color: #00bfa5 !important;
}

.jumbotron {
  background-color: #212121 !important;
}

.jumbotron h1 {
  overflow: hidden;
  border-right: 0.15em solid #00bfa5;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00bfa5;
  }
}

.card-text,
.card-title,
.card-body {
  color: #fafafa;
  background-color: #212121;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(27, 233, 195, 0.879);
}

.fab,
.fas {
  margin: 10px;
}

.fab:hover {
  color: #00bfa5;
}

.fas:hover {
  color: #00bfa5;
}

.code-languages {
  list-style-type: none;
  margin-left: -50px;
}
